<section class="login">
  <div class="container-login">
    
    <div class="header-box__logo">
          <a class="header-box__logo-link a-links" href="/"><ion-icon
              class="header-logo"
              name="duplicate-outline"
            ></ion-icon>
            <div>
              <span class="header-logo__text --text-white">yourNotes</span>
            </div></a>
         
    </div>
    <div>
      <span class="--text-medium --text-white">Welcome back.</span>
    </div>
 
  <form action="/login" method="POST" id="login-form" class="login-form --form">
  <div>
    <p class="--text-medium">Log in</p>
  </div>
    {{! first row }}

    <div class="form-group form-firstName">
      </label>
      <input
        type="email"
        id="loginEmail"
        name="email"
        required
        {{!-- autofocus="autofocus" --}}
        placeholder="Email address"
      />
    </div>

    {{! second row }}

    <div class="form-group form-password">
   
  
      </label>
      <input
        type="password"
        id="loginPassword"
        name="password"
        autofocus="autofocus"
        placeholder="Password"
        autocomplete="off"
        minlength="8"
        value=""
        required
      />
    </div>

    <button type="submit" id="btnLogin" class="form-group btn">
      Log in
    </button>
  </form>
  <div>
    <span class="--text-medium --text-white">Don’t have an account? <a href="/register" class="--a-linkto">Join yourNotes</a></span>
  </div>
 
</div>
</section>

<script src="js/login-function.js"></script>